.header{
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    background-color: #131921;
    top:0;
    z-index: 100;
}

.logo{
    width: 100px;
    margin: 18px 20px 0px 20px;
    object-fit: contain;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
.options{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    color: #fff;    
    cursor: pointer;
    color: #fff;    
}

.options_upper{
    font-size: 10px;
}
.options_lower{
    font-size: 14px;
    font-weight: 800;
}
.search_bar{
    display: flex;
    align-items: center;
    flex: 1;
}
.search_bar > input{
    height: 20px;
    padding: 20px;
    border: none;
    width: 500px;
    outline-width: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.search_bar > span{
    height: 40px;
    background-color: #febd69;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
}
